<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutAppBdd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Navbar Header -->
    <%= render 'shared/header' %>
    
    <!-- Yield -->
    <%= render 'shared/main' %>
    
    <!-- Footer -->
    <%= render 'shared/footer' %>
  </body>
</html>
